---
layout: main
title: Home
---

div.row
  div.col-md-12
    h1 Hi! I'm Erik 👋🏼

  div.col-md-9
    // NOTE: Much of this is duplicated from my GitHub profile README.

    p
      | I build free and open source software for fun and the betterment of mankind 🌎🌍🌏. I also do things with markets for 💸.

    p
      | #[b I'm hiring!] Check out the #[a(href="/jobs") jobs] page.

    h2 Projects
    ul
      li Founder and maintainer of #[a(href="https://activitywatch.net" target="_blank") ActivityWatch] 📊 (#[a(href="https://github.com/ActivityWatch") GitHub])
        ul
          li #[i "The worlds best free and open-source automated time-tracker"]
      li Maintainer of #[a(href="https://github.com/shanefontaine/uniswap-python/") uniswap-python] 📈
        ul
          li Python wrapper for the #[a(href="https://uniswap.org/") Uniswap] contracts.
      li Maintainer of #[a(href="https://github.com/NeuroTechX/eeg-notebooks") eeg-notebooks] 🧠
        ul
          li #[i "Democratizing the cognitive neuroscience experiment"]
          li A collection of EEG experiments & notebooks.
      li My #[a(href="https://github.com/ErikBjare/thesis") MSc thesis] about classifying brain activity (EEG) of developers 🧠
      li And lots of #[a(href="https://github.com/search?o=desc&q=user%3AErikBjare&s=stars&type=Repositories") other stuff] ✨

    h2 This website
    p
      | Here you can read my #[a(href="/blog") blog] where I (used to) write about things I enjoy thinking about. You can also learn more about me by checking out the #[a(href="/about/") about page] or visit some of my various profiles online as listed below.

    p
      | #[b Note:] Unfortunately the blog and wiki haven't been updated in a long time, and that's probably not going to change anytime soon.

    h3 Latest blog posts

    ul.posts
      | {% assign posts = site.blog | sort: "date" | reverse %}
      | {% for post in posts %}
      li
        | {{ post.date | date_to_long_string: "ordinal" }} &raquo; #[a(href="{{ post.url }}") {{ post.title }}]
      | {% endfor %}

    h3 Selected wiki pages

    ul
      li #[a(href="/wiki/importance-of-open-recommendation-systems/") The Importance of Open Recommender Systems]
      li #[a(href="/wiki/quantified-self/") Quantified Self]

    p Check out the #[a(href="/wiki/") wiki index] for a full list of pages.

  div.col-md-3
    div.links
      h5.mt-0 Follow me

      a(href="https://twitter.com/ErikBjare")
        div(style="color: #08F")
          | #[i.fab.fa-twitter] Twitter
      a.no-link-icon(href="https://github.com/ErikBjare")
        div(style="color: #444")
          | #[i.fab.fa-github] GitHub
      a(href="https://www.linkedin.com/in/erikbjareholt")
        div(style="color: #0077B4")
          | #[i.fab.fa-linkedin] LinkedIn

      h5.mt-3.pt-3 I'm also on

      a(href="https://keybase.io/erb")
        div(style="color: #F3A")
          | #[i.fab.fa-keybase] Keybase
      a(href="https://www.reddit.com/user/ErikBjare")
        div(style="color: #FF5700")
          | #[i.fab.fa-reddit] Reddit
      a(href="https://www.facebook.com/erik.bjareholt")
        div(style="color: #04F")
          | #[i.fab.fa-facebook] Facebook
      a(href="https://stackoverflow.com/users/965332/erb")
        div(style="color: #F48024")
          | #[i.fab.fa-stack-overflow] StackOverflow
      a(href="https://www.quora.com/Erik-Bj&auml;reholt")
        div(style="color: #A00")
          | #[i.fab.fa-quora] Quora
      a.no-link-icon(href="https://en.wikipedia.org/wiki/User:Erik.Bjareholt")
        div(style="color: #333 !important")
          | #[span.icon-wikipedia] Wikipedia

      //div(id="so-card-widget" data-userid="1482899" data-theme="default")
      //script(type="text/javascript" src="//mudassir0909.github.io/stackoverflow-card/dist/1.0.0/so-card-widget.min.js")
