<title>{% if page.title != site.name %}{{ page.title }} - {% endif %}{{ site.name }}</title>
<meta name="description" content="{{ site.description }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}" />
{% if page.title != site.name %}
<meta content="article" property="og:type">
{% else %}
<meta content="website" property="og:type">
{% endif %}
<meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}" />
<meta property="og:image" content="{{ site.url }}/img/glider.png" />
{% if page.description %}
<meta content="{{ page.description }}" property="og:description">
{% else %}
<meta content="{{ site.description }}" property="og:description">
{% endif %}

<meta charset="UTF-8" />

<!-- Favicon -->
<link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon">

<!-- Google Authorship and Publisher Markup -->
<link rel="author" href="https://plus.google.com/+ErikBjareholt/posts">
<link rel="publisher" href="https://plus.google.com/+ErikBjareholt">

<!-- For better viewing on mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Facebook admin -->
<meta property="fb:admins" content="1155422697" />

<!-- CSS (Bootstrap, custom) -->
<link href="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/syntax.css">

<!-- Font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Libre+Baskerville" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Varela+Round&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/js/negativar.js"></script>

<!-- Google Analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q5JWKQL1D3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-48818326-1', {'transport_type': 'beacon'});
  gtag('config', 'G-Q5JWKQL1D3');
</script>
<script>
// Used to track outbound links:
// https://support.google.com/analytics/answer/1136920?hl=en
var trackOutboundLink = function(url) {
  gtag('event', 'outbound', {
    "event_category": 'click', 
    "event_label": url, 
    "event_callback": function() {
      document.location = url;
    }
  });
}

// TODO: Not tested properly
// Found here: http://veithen.github.io/2015/01/24/outbound-link-tracking.html
/*
$(function() {
  $("a").click(function(e) {
    if (!ga.q) {
      var url = $(this).attr("href");
      trackOutboundLink(url);
      e.preventDefault();
    }
  });
});
*/

// Do the above initialization of outbound links, but without jQuery
for (var i = 0; i < document.links.length; i++) {
  var link = document.links[i];
  if (link.hostname != window.location.hostname) {
    link.onclick = function() {
      if(!ga.q) {
        trackOutboundLink(this.href);
        e.preventDefault();
      }
    }
  }
}

</script>
