<div class="container-fluid">
    <div class=row>
        <nav class="navbar navbar-default navbar-static-top" role=navigation>
            <div class="container">
                <div class=row>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">
                                <span class="glyphicon glyphicon-home"></span>
                                <span class="pagename pagename-fold"> Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/blog/">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="pagename pagename-fold"> Blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="/about/">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <span class="pagename pagename-fold"> About</span>
                            </a>
                        </li>
                        <li>
                            <a href="/about/#cv">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="pagename pagename-fold"> CV</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/contact/">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <span class="pagename"> Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
