<nav class="navbar navbar-default" role=navigation>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="/">
                    <span class="glyphicon glyphicon-home"></span> Home
                </a>
            </li>
            <li>
                <a href="/blog/">
                    <span class="glyphicon glyphicon-pencil"></span> Blog
                </a>
            </li>
            <li>
                <a href="/about/">
                    <span class="glyphicon glyphicon-info-sign"></span> About
                </a>
            </li>
            <li>
                <a href="/about/#cv">
                    <span class="glyphicon glyphicon-user"></span> CV
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/contact/">
                    <span class="glyphicon glyphicon-envelope"></span> Contact
                </a>
            </li>
        </ul>
    </div>
</nav>
