<nav class="navbar navbar-default" role=navigation>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="/" class="button-link">
                    <div class="button left first">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </div>
                </a>
            </li>
            <li>
                <a href="/blog/" class="button-link">
                    <div class="button left">
                        <span class="glyphicon glyphicon-pencil"></span> Blog
                    </div>
                </a>
            </li>
            <li>
                <a href="/about/" class="button-link">
                    <div class="button left">
                        <span class="glyphicon glyphicon-info-sign"></span> About
                    </div>
                </a>
            </li>
            <li>
                <a href="/about/#cv" class="button-link">
                    <div class="button left">
                        <span class="glyphicon glyphicon-user"></span> CV
                    </div>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/contact/" class="button-link">
                    <div class="button left">
                        <span class="glyphicon glyphicon-envelope"></span> Contact
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>
