<article class="post panel panel-default">
    <header>
        <h1 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h1>

        <div class="meta">
          <small>
            <div class="meta-box">
              {% include last-modified.html %}
            </div>
            <div class="meta-box">
              <span class="underline dotted">Tags:</span>
              {% for tag in page.tags %}
                {% unless tag contains "state" and tag contains "quality" %}
                  <a href="/tags/#{{tag}}">
                    <span class="label label-info" style="margin-left: 0.3em; font-size: 90%">
                      {{tag}}
                    </span>
                  </a>
                {% endunless %}
              {% endfor %}
            </div>
            {% if page.state %}
              <div class="meta-box" title="State is a measurement of completion">
                <span class="underline dotted">State:</span>
                {% if page.state == "stub" %}
                  <span class="label label-danger" style="margin-left: 0.3em">
                {% else if page.state == "draft" %}
                  <span class="label label-warning" style="margin-left: 0.3em">
                {% else if page.state == "finished" %}
                  <span class="label label-success" style="margin-left: 0.3em">
                {% else %}
                  <span class="label label-default" style="margin-left: 0.3em">
                  unknown state:
                {% endif %}
                  {{ page.state }}
                </span>
              </div>
            {% endif %}
          </small>
        </div>
    </header>

    <div class="content">
        <div class="toc">
          <b>Table of contents</b>
          {% include toc.html html=include.content %}
        </div>

        {{ include.content }}
    </div>

    <div class="footer">
        <div {% if include.fullpage %}style="border: solid rgba(255,255,255,0.2); border-width: 0 0 1px 0; padding-bottom: 10px;"{% endif %}>

            <span class="glyphicon glyphicon-link"></span>
            <a href="{{ page.url }}">Permalink</a>

            {% if include.fullpage != true %}
              <span class="separator">|</span>
              <span class="glyphicon glyphicon-comment"></span>
              <a href="{{ page.url }}#disqus_thread">Comments</a>
            {% endif %}

            <div style="float: right">
                Words: {{ include.content | split: ' ' | size }}
            </div>

            <!-- {-% include social-buttons.html page=page %-} -->
        </div>

        {% if include.fullpage %}
          {% include living-document.html %}

          {% include comments.html %}
        {% endif %}
    </div>
</article>
