@import 'variables';
@import 'mixins';

@import 'reset';
@import 'bootstrap-mods';
@import 'icons';

@import 'link-icons';

// To
.links {
  i.fab,
  span.icon-wikipedia {
    vertical-align: middle;
  }
}

body {
    @include default-font-style;
}

h1, h2, h3, h4, h5 {
    @include round-font-style;
    margin-top: 1.5em;
}

h1 {
    font-size: 2.5em;
}

h5 {
    margin-bottom: 0.3em;
    font-size: 1.1em;
}

a {
    color: $linkcolor;
    text-decoration: none;
    text-shadow: 0px 0px 0px $linkcolor;
    transition: color .2s ease-out;
    -moz-transition: color .2s ease-out, text-shadow 0.2s ease-out;
    -webkit-transition: color .2s ease-out, text-shadow 0.2s ease-out;
    -o-transition: color .2s ease-out, text-shadow 0.2s ease-out;

    .button {
        text-decoration: none;
    }

    :hover, :active {
       color: darken($linkcolor, 30%);
    }
}

blockquote {
    @include serif-font-style;
    font-size: 1em;
    margin: 1em 0;
    padding: 1em 1em 0.5em 1em;
    background-color: #f8f8f8;
    border-color: #666;
    border: 1px solid #ccc;
    border-width: 0 0 0 1px;
}

.navbar {
    .nav-item {
        margin: 0 0.3em;
    }

    a {
        border-radius: 5px;
        padding-left: 0.5em;
        padding-right: 0.5em;

        i {
            margin-left: 0.3em;
        }

        > .pagename {
            padding: 0 0.2em 0 0.5em;
        }
    }

    a:hover {
        background-color: #DDD !important;
    }
}

hr.dotted {
    background: url("/img/diagonal-dotted-rule.png") repeat-x 0 0;
    border: 0 none;
    height: 0.2em;
    margin: 2em 0 2em 0;
}

.box {
    background: rgba(0, 0, 0, 0.8);
    border: 0.1em solid #555;
    border-radius: 0.3em;
}

.separator {
    font-weight: bold;
    margin: 0 0.3em 0 0.3em;
}


.status-completed {
    color: #080;
}

.status-in_progress {
    color: #800;
}

.post {
    padding: 1.5em;

    header {
        border: solid #888;
        border-width: 0 0 0.1em 0;
        border-radius: 0.7em 0.7em 0 0;
        padding: 0 0 1em 0;
        margin: 0 0 1em 0;

        .title {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            a {
                color: #000;
            }
        }

        .meta {
            margin: 0.3em 0 0 0;
            font-size: 1em;
            height: 1em;
        }

        .meta-box {
            display: inline-block;
            padding: 0 0.7em 0 0.3em;

            .meta-icon {
                color: #444;
                padding-right: 0.3em;
            }
        }
    }

    .content {
        clear: both;
        text-align: justify;
        font-size: 1.1em;
        line-height: 1.6em;

        img {
            margin-left: auto;
            margin-right: auto;
            display: block;
            border: 0.3em solid #DDD;
        }
    }

    .footer {
        border: #888 solid;
        border-width: 1px 0 0 0;
        padding-top: 1em;
        font-size: 0.9em;

        .social-button {
            display: inline-block;
            margin-right: 4px;
        }

        .fa {
            color: $softblue;
        }
    }
}

#footer {
    margin-top: 2em;
    border: solid #BBB;
    background-color: #f8f8f8;
    border-width: 1px 0 0 0;

    .COINWIDGETCOM_CONTAINER > a,
    .COINWIDGETCOM_CONTAINER > span {
        height: 22px;
        max-height: 22px;
    }
}

.msg-box {
  border: 1px solid;
  padding: 0.5em;
  margin: 0.5em 0 0.5em 0;

  &.info {
    border: 1px solid #5CF;
    background-color: #CFEFFF;
  }

  &.note {
    border-color: #FC9;
    background-color: #ffefba;
  }
}

.underline.dotted {
  border-bottom: 1px dashed #999;
  text-decoration: none;
  white-space-collapse: discard;
}

.links {
  a {
    line-height: 2.0;
    min-width: 2.5em;
    text-decoration: none;

    i, span {
      font-size: 1.5em;
      width: 1.0em;
    }
  }
}

.toc {
  font-size: 0.8em;
  display: inline-block;
  background: #f8f8f8;
  padding: 1em 1em 0.0em 1em;
  border: 1px solid #bbb;
  margin-bottom: 2em;

  ul {
    padding-left: 2em;
  }
}
