// Colors
$neonblue: #428bca;
$orange: #FA0;
$softblue: #4466CC;

// Fonts
@mixin text-styled () {
    font-family: 'Nova Square', "Open Sans", sans-serif;
}
@mixin text() {
    font-family: "Open Sans", sans-serif;
}

// Media
@media only screen {
    ul.menu, #content, #footer {
        max-width: 800px;
    }
}

@media only screen and (min-resolution: 120dpi) {
    #header {
      height: 5em;
    }

    .meta-box {
      font-size: 150%;

    }

    ul.menu, #content, #footer {
        max-width: 100%;
    }

    .button.right {
        visibility: hidden;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    background: #FFF center no-repeat fixed;
    background-size: contain;
}

body {
    @include text;
    background-color: rgba(0,0,0,0);
    color: #000;
}


h1 {
    @include text-styled;
    font-size: 2.5em;
}

h3 {
    margin-top: 1.3em;
}

h5 {
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.3em;
    font-size: 1em;
}

$linkcolor: #66F;

a {
    color: $linkcolor;
    text-decoration: underline;
    text-shadow: 0px 0px 0px $linkcolor;
    transition: color .3s ease-out;
    -moz-transition: color .3s ease-out, text-shadow 0.3s ease-out;
    -webkit-transition: color .3s ease-out, text-shadow 0.3s ease-out;
    -o-transition: color .3s ease-out, text-shadow 0.3s ease-out;
    
    .button {
        text-decoration: none;
    }
}

a:hover, a:active { 
    color: darken($linkcolor, 30%); 
}

.nav, h1, h2, h3, h4, h5 {
    a {
        text-decoration: none;
    }
}

hr {
    background: url("/img/diagonal-dotted-rule.png") repeat-x 0 0;
    border: 0 none;
    height: 0.2em;
    margin: 2em 0 2em 0;
}



blockquote {
    font-size: 1em;
}

.container {
    max-width: 1000px;
}


.box {
    background: rgba(0, 0, 0, 0.8);
    border: 0.1em solid #555;
    border-radius: 0.3em;
}

.separator {
    font-weight: bold;
    margin: 0 0.3em 0 0.3em;
}


.status-completed {
    color: #080;
}

.status-in_progress {
    color: #800;
}

.post {
  padding: 0.5em;

    header {
        border: solid #888;
        border-width: 0 0 0.1em 0;
        border-radius: 0.7em 0.7em 0 0;
        padding: 0 0 1em 0;
        margin: 0 0 1em 0;

        .title {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            a {
                color: #000;
            }
        }

        .meta {
            margin: 0.3em 0 0 0;
            font-size: 1em;
            height: 1em;
        }

        .meta-box {
            float: left;
            padding: 0 0.7em 0 0.3em;

            .meta-icon {
                color: $softblue;
                padding-right: 0.3em;
            }
        }

    }

    .content {
        clear: both;
    }

    .footer {
    border: #888 solid;
    border-width: 1px 0 0 0;
    padding-top: 1em;
      font-size: 0.9em;

      .social-button {
        float: left;
        display: inline-block;
        margin-right: 4px;
      }
      
      .glyphicon {
        color: $softblue;
      }
    }
}

.section {
    padding: 0 0 0 0;
}

#footer {
    border: solid #BBB;
    border-width: 1px 0 0 0;
    width: 100%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0.7em;
}

.invert {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
}


table.links {
    tr {
        opacity: 0.7;
    }
    tr.google-plus {
        color: #C00;
    }

    tr.twitter {
        color: #08F;
    }

    tr.facebook {
        color: #04F;
    }

    tr:hover {
        opacity: 1;
    }

    td {
        font-size: 1.1em;
        line-height: 1.5;
        min-width: 1.5em;
        a {
            text-decoration: none;
        }
    }

}
