// Colors
$neonblue: #428bca;
$orange: #FA0;

// Fonts
@mixin text-styled () {
    font-family: 'Nova Square', "Open Sans", sans-serif;
}
@mixin text() {
    font-family: "Open Sans", sans-serif;
}

// Media

@media only screen {
    ul.menu, #content, #footer {
        max-width: 800px;
    }
}

@media only screen and (min-resolution: 120dpi) {
    #header {
      height: 5em;
    }

    .meta-box {
      font-size: 150%;

    }

    ul.menu, #content, #footer {
        max-width: 100%;
    }

    .button.right {
        visibility: hidden;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    background: url("/img/Andromeda%20Galaxy%20isolated%20-%20black%20bg.jpg") #000 center no-repeat fixed;
    background-size: contain;
}

body {
    @include text;
    background-color: rgba(0,0,0,0);
    color: #FFF;
}


h1 {
    @include text-styled;
    font-size: 2.5em;
    margin-top: -4em;
    padding-top: 4em;
}

h3 {
    margin-top: 1.3em;
}

h5 {
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.3em;
    font-size: 1em;
}

a {
    color: $orange;
    transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -webkit-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
}
a:hover { color: $orange; }
a:visited { color: lighten($orange, 18%); }
a:active { color: $orange; }

p {
}

hr {
    background: url("/img/diagonal-dotted-rule-invert.png") repeat-x 0 0;
    border: 0 none;
    height: 0.3em;
    margin: 2em 0 2em 0;
    /*border: 0 none;
    height: 0.3em;
    padding: 1em;*/
}

blockquote {
    font-size: 1em;
}

.box {
    background: rgba(0, 0, 0, 0.8);
    border: 0.1em solid #555;
    border-radius: 0.3em;
}

.separator {
    font-weight: bold;
    margin: 0 0.3em 0 0.3em;
}


.status-completed {
    color: #0F0;
}

.status-in_progress {
    color: red;
}

.post {
  padding: 0.5em;

    header {
        background: rgba(0,0,0,0);
        margin: -0.5em;
        box-shadow: 0 2.5em 5em -1em #001647 inset;
        padding: 0.5em;
        border: solid #048;
        border-width: 0.1em 0 0 0;
        border-radius: 0.7em 0.7em 0 0;

        .title {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }

        .meta {
            margin: 0.3em 0 0 0;
            font-size: 1em;
            height: 1em;
        }

        .meta-box {
            float: left;
            padding: 0 0.7em 0 0.3em;

            .meta-icon {
                color: #FFB042;
                padding-right: 0.3em;
            }
        }

    }

    .content {
        clear: both;
        padding: 1em 0 0 0;
    }

    .footer {
      font-size: 0.9em;

      .social-button {
        float: left;
        display: inline-block;
        margin-right: 4px;
      }
    }
}

#container {
    min-height: 100%;
    position: relative;

    #header {
        background: linear-gradient(#040404, darken($neonblue, 40%));
        height: 2.5em;
        border: solid $neonblue;
        border-width: 0 0 0.1em 0;
        overflow: hidden;

        .button {
            @include text-styled;
            text-align: center;
            padding: 0.5em 0.8em 0.5em 0.8em;
            border: solid darken($neonblue, 30%);
            border-width: 0 0.1em 0 0;
            font-size: 1.1em;
            transition: background-color .3s ease-out;
            -moz-transition: background-color .3s ease-out;
            -webkit-transition: background-color .3s ease-out;
            -o-transition: background-color .3s ease-out;
            transition: box-shadow .3s ease-out;
            -moz-transition: box-shadow .3s ease-out;
            -webkit-transition: box-shadow .3s ease-out;
            -o-transition: box-shadow .3s ease-out;
        }

        .first {
            border-left-width: 0.1em;
        }

        .button:hover {
            box-shadow: 0 -0.3em 1em -0.2em $neonblue inset;
            background-color: rgba(255, 255, 255, 0.05);
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        ul.menu {
            height: 3.5em;
            margin-left: auto;
            margin-right: auto;
            list-style: none;
            padding: 0;
        }

        a.button-link {
            color: #FFF;
            cursor: pointer;
        }
        a.button-link:hover {
            text-decoration-line: none;
            color: #FA0;
        }
    }

    #content {
        padding: 3.5em 1em 1em 1em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4em;
        border-radius: 0 0 1em 1em;
        border-width: 0.1em 0.1em 0.1em;
    }

        .section {
            padding: 0 0 0 0;
        }

    #footer-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        background: linear-gradient(darken($neonblue, 40%), #060606);
        border: solid $neonblue;
        border-width: 0.1em 0 0 0;
    }

    #footer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0.7em;
    }
}

.invert {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
}
